body {
    font-family: Arial, sans-serif;
    background-color: rgb(145, 168, 243);
}

h1 {
    color: black;
    font-size: 40px;
}

.links {
    font-size: 20px;
}

img {
    height: auto;
    width: 500px;
}